.people__item
  .people__photo
    img(src=photo, alt=name+" photo")
  .people__short
    h3.people__name= name
    span.people__position= position
  p.people__text= text

- var name = ''
- var position = ''
- var text = ''
- var photo = ''