.sale-info
  div
    .sale-info__table
      .sale-info__col.sale-info__col-name
        span.sale-info__name Sale starts
        span.sale-info__name Sale ends
        span.sale-info__name Accepted currency
        span.sale-info__name XLG Token price
        span.sale-info__name XLG Token Status 
        span.sale-info__name XLG Token Delivery
        span.sale-info__name XLG Mainnet Launch
        span.sale-info__name XLG Tokens for sale
      .sale-info__col.sale-info__col-value
        span.sale-info__value Nov 4, 2019, 9:00am UTC
        span.sale-info__value Nov 20, 2019, 6:00pm UTC
        span.sale-info__value USDT. 
          a.sale-info__link(href="#") Learn more
          |  how to use other currencies.
        span.sale-info__value 0.05 - 0.07 USD
        span.sale-info__value Locked. 
          a.sale-info__link(href="#") Learn more
        span.sale-info__value Immediately after XLG lisiting. 
          a.sale-info__link(href="#") Learn more
        span.sale-info__value Expected March 31, 2020
        span.sale-info__value 40,000,000
    p After purchase you instantly receive XLGC, which converts to XLG after listing. 
      a.sale-info__link(href="#") Learn more.
  .sale-info__img-wrapper
    img(src="/img/xlg/token-sale-1.svg", alt="")

.tell-others
  .tell-others__img-wrapper
    img(src="/img/xlg/token-sale-2.svg")
  .tell-others__text
    h2.tell-others__title Don’t be selfish, tell others
    p Share your personal invite link and earn 2.5% of the total paid 
      br 
      | amount of your referral. 
      a.tell-others__link(href="#") Learn more about the terms.

mixin ico-rating(logo, value, stars)
  .ico-rating__item(class=attributes.class)
    .ico-rating__logo
      img(src=logo)
    .ico-rating__wrapper
      .ico-rating__value=value
      img.icon-rating__stars(src=stars)

.ico-rating
  h2.token-sale__title.ico-rating__title ICO Rating
  +ico-rating('/img/ico-rating/ico-bench.png', '4.4', '/img/ico-rating/ico-bench-stars.svg')(class="ico-rating__item_ico-bench")
  +ico-rating('/img/ico-rating/coin-checkup.png', '4.70', '/img/ico-rating/coin-checkup-stars.svg')(class="ico-rating__item_coin-checkup")
  +ico-rating('/img/ico-rating/ico-marks.png', '10', '/img/ico-rating/ico-marks-stars.svg')(class="ico-rating__item_ico-marks")

mixin qa(title)
  .qa__item
    .qa__header
      h3.qa__title=title
      button.qa__btn(type="button") +
    article.qa__article
      block

.qa
  h2.token-sale__title.qa__title Questions & Answers
  p.qa__top-text A set of the most important questions and answers about XLG, Ledgerium Blockchain and the Sale. For additional questions, contact our Support center or join our Telegram channel.
      
  +qa('What is Ledgerium Blockchain?')
    p 
      b Ledgerium Blockchain 
      | is a distributed digital ledger that can record transactions between parties efficiently in a verifiable and permanent way. This allows the participants to verify and audit transactions instantly and inexpensively. 
    p Ledgerium Blockchain is an Ethereum/Quorum based distributed digital ledger that will record public and private transactions between parties efficiently in a verifiable and permanent way. 
    ul Some of the features of Ledgerium Blockchain are
      li Distributed and Decentralised 
      li Immutable 
      li Public and Private Transactions 
      li High Throughput 
      li Scalable 
      li High Availability 
      li Secured
    p 
      a(href="#") Block Ledger
      | , a company behind Ledgerium Blockchain. It brings an e-invoicing and financial accounting reconciliation product named 
      a(href="#") Luca+ 
      | to the market place which leverages Ledgerium Blockchain to maintain audit trails and transparency.
  +qa('What is XLG?')
    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus veniam aspernatur laborum. Iure odio accusamus illo? Nihil voluptatibus praesentium animi blanditiis! Debitis dicta iure eligendi nihil. Quasi, culpa quaerat? Provident.
  +qa('What are some of the use case of XLG token?')
    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita cumque accusantium ab aliquid nisi quidem quisquam ex libero optio, dolorum, similique omnis fuga. Esse, architecto perspiciatis. Ut, corrupti et. Facere?
  +qa('What currencies can be used to buy XLG?')
    p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Explicabo tempora aut vel, qui adipisci, optio eveniet nesciunt amet at obcaecati quos ad voluptate saepe laboriosam quis dicta rem animi veritatis.